{
  "extends": ["eslint:recommended", "plugin:@typescript-eslint/recommended", "react-app"],
  "rules": {
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/no-empty-interface": "off",
    "@typescript-eslint/ban-ts-comment": "off",
    "react-hooks/exhaustive-deps": "off"
  },
  "parserOptions": {
    "ecmaVersion": 2021,
    "sourceType": "module",
    "project": "./tsconfig.json",
    "tsconfigRootDir": "./",
    "createDefaultProgram": true
  }
}
